{% extends 'miapp/base.html' %}



{% load static %}
{% block content %}


<link href="{% static 'css/xd.css' %}" rel="stylesheet">

<div class="container-fluid">
    <div class="row main-content bg-success text-center">
        <div class="col-md-4 text-center company__info">
            <span class="company__logo"><h2><span class="fa fa-table"></span></h2></span>
            <h4 class="company_title">BYD Arquitectura</h4>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
            <div class="container-fluid">
                <div class="row justify-content-center mt-2">
                    <h2>LogIn</h2>
                </div>
                <div class="row">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                
                        <button class="btn btn-primary" type="submit">
                            login
                        </button>
                    </form>
                </div>
                <div class="row">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}